{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e

# install apt packages
sudo apt-get update
sudo apt-get install -y {{- range .packages.linux.apt }} {{ . | quote }}{{ end }}
sudo apt-get autoclean
sudo apt-get autoremove

# install brew packages
brew bundle install --file=/dev/stdin <<EOF
{{ range .packages.linux.tap -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.linux.brew -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.cask -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
